<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml" xmlns:hx-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Коды активации</title>
    <th:block th:replace="~{include::head}"/>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script type="text/javascript">
        htmx.on("update", function (event) {
            document.getElementById("code_value").value = '';
            setTimeout(function () {
                document.getElementById("add_result").classList.replace('rst', 'hide');
            }, 5000);
        });

        function copyText(num) {
            let copyText = document.getElementById("val_" + num).textContent;
            navigator.clipboard.writeText(copyText);
        }
    </script>
</head>
<body>
<th:block th:replace="include::navigation"></th:block>
<div class="container shadow p-3 h-100">
    <div class="row mb-3">
        <div class="col">
            <select name="providerId" id="ofd" class="form-select">
                <option th:each="ofd: ${ofdList}" th:text="${ofd.name}" th:value="${ofd.id}"></option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <input type="text" name="value" id="code_value" hx-trigger="">

            <input type="radio" name="duration" id="m15" value="15">
            <label for="m15">15 мес.</label>
            <input type="radio" name="duration" id="m36" value="36">
            <label for="m36">36 мес.</label>

            <input type="button" id="btn-add" value="Добавить" class="btn btn-success"
                   hx-trigger="click" hx:post="@{/code/add}" hx-target="#add_result" hx-swap="outerHTML"
                   hx-include="[name='value'],[name='duration'],[name='providerId']"/>

            <span id="add_result" th:class="'rst ' + ${class}"
                  th:fragment="result">[[${result == null ? "" : result}]]</span>
        </div>
    </div>
    <div class="row">
        <div class="col" id="codes_list"
             hx:get="@{code/list}" hx-include="[name='providerId']"
             hx-trigger="load, update from:body, change from:#ofd" hx-disinherit="*">
            <th:block th:fragment="codes" th:if="${codes != null}">
                <table class="table table-hover w-100">
                    <thead class="table-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Код</th>
                        <th scope="col">Срок</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Клиент</th>
                        <th scope="col">Пользователь</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="code : ${codes}">
                        <td>
                            <button class="btn btn-outline-success" th:onclick="'copyText(' + ${code.id} + ')'">
                                <i class="fa fa-copy"></i>
                            </button>
                            <input type="hidden" name="codeId" th:value="${code.value}">
                        </td>

                        <td th:id="${'val_' + code.id}" th:text="${code.value}" hx:get="@{code/modal}"
                            hx:vals='|{ "codeId" : "${code.id}" }|'
                            hx-target="#useCode" hx-trigger="click" hx-swap="outerHTML">>
                        </td>
                        <td th:text="${code.duration}"></td>
                        <td th:text="${code.status.description}"></td>
                        <td th:text="${code.organization == null} ? '' : ${code.organization.name}"></td>
                        <td th:text="${code.userInfo == null} ? '' : ${code.userInfo.getShortName()}"></td>
                    </tr>
                    </tbody>
                </table>
            </th:block>
        </div>
    </div>
</div>
<div id="useCode">
</div>
</body>
</html>