<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Импорт из Битрикс</title>
    <th:block th:replace="~{include::head}"/>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>
<th:block th:replace="include::navigation"></th:block>
<div class="container shadow p-3">
    <div class="row">
        <div class="col">
            <input name="query" type="text">
            <button hx:get="@{/import/lookup}" hx-include="[name='query']"
                    hx-target="#result" hx-swap="innerHTML">Найти</button>
        </div>
    </div>
    <div class="row">
        <div class="col" id="result">
            <table class="table table-hover" th:fragment="results">
                <thead>
                <th>ID</th>
                <th>Название</th>
                <th></th>
                </thead>
                <tbody>
                <tr th:each="company: ${companies}">
                    <td th:text="${company.id}"></td>
                    <td th:text="${company.title}"></td>
                    <td>
                        <i th:if="${company.imported}" class="fa fa-check"></i>
                        <button th:unless="${company.imported}">Импорт</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="info" th:fragment="report">

               </div>

       </div>
    </div>
</div>
</body>
</html>