<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{include::head}"/>
    <script src="https://unpkg.com/htmx.org@1.9.2"
            integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h"
            crossorigin="anonymous"></script>
    <title th:value="${title}"></title>
    <script>
        htmx.on("#model_select", "change", function (event) {
            document.getElementById('modelId').value = document.getElementById('model_select').value
        })
    </script>
</head>
<body>
<div class="container shadow vh-100 p-3">
    <form class="form" th:object="${kkmDto}" th:action="@{/kkm/save}" method="post">
        <input type="hidden" name="id" th:field="*{id}">
        <input type="hidden" id="modelId" th:field="*{modelId}">
        <input type="hidden" th:field="*{orgId}">
        <div class="row">
            <div class="col">
                <label for="inner_name">Внутреннее имя</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="text" id="inner_name" name="innerName" th:field="*{innerName}" class="form-control w-50">
            </div>
        </div>
        <div class="row mb-3" style="vertical-align: middle">
            <div class="col-2 text-center">
                <label>Модель</label>
            </div>
            <div class="col-3">
                <select id="vendor_list" name="vid"
                        hx:get="@{/models}" hx-trigger="change" hx-include="[name=vid]"
                        hx-target="#model_select" hx-swap="innerHTML"
                        class="form-select">
                    <option label="Выберите производителя"></option>
                    <option th:each="vendor : ${vendors.entrySet()}"
                            th:text="${vendor.value}"
                            th:selected="${vendor ne null and vendor.key eq kkmDto.vendorId}"
                            th:value="${vendor.key}"></option>
                </select>
            </div>
            <div class="col-2">
                <div id="model_list">
                    <select id="model_select" th:fragment="model_list" class="form-select">
                        <th:block th:if="${models ne null}" th:fragment="m_list">
                            <option label="Выберите модель" value="0"></option>
                            <option th:each="model : ${models.entrySet()}"
                                    th:selected="${kkmDto ne null and model.key eq kkmDto.modelId}"
                                    th:text="${model.value}"
                                    th:value="${model.key}"></option>
                        </th:block>
                    </select>
                </div>
                <span class="text-danger small" th:if="${#fields.hasErrors('modelId')}" th:errors="*{modelId}"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 text-center">
                <label for="snNum" style="vertical-align: middle">Заводской номер</label>
            </div>
            <div class="col">
                <input type="text" id="snNum" th:field="*{serialNumber}" class="form-control d-inline w-25">
                <span class="text-danger small"
                      th:if="${#fields.hasErrors('serialNumber')}" th:errors="*{serialNumber}"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 text-center">
                <label for="ofd_name" style="vertical-align: middle">ОФД</label>
            </div>
            <div class="col-3">
                <select id="ofd_name" th:field="*{ofdId}" class="form-select">
                    <option label="Выберите ОФД" value="0"></option>
                    <option th:each="ofd: ${ofdList}"
                            th:text="${ofd.name}"
                            th:value="${ofd.id}"></option>
                </select>
                <span class="text-danger small" th:if="${#fields.hasErrors('ofdId')}" th:errors="*{ofdId}"></span>
            </div>
            <div class="col-1" style="text-align: right">
                <label for="ofd_end">до</label>
            </div>
            <div class="col-2">
                <input type="date" id="ofd_end" th:field="${kkmDto.ofdEnd}" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-1 text-center">
                <label for="fnNum">ФН</label>
            </div>
            <div class="col-3">
                <input type="text" size="16" maxlength="16"
                       th:field="*{fnNumber}" id="fnNum" name="fnNum"
                       placeholder="0000000000000000"
                       class="form-control">
            </div>
            <div class="col-1" style="text-align: right">
                <label for="fnEnd" class="align-bottom">до</label>
            </div>
            <div class="col-2">
                <input type="date" id="fnEnd" th:field="*{fnEnd}" class="form-control">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <input type="submit" class="btn btn-success" value="Сохранить">
                <a class="btn btn-warning" th:href="@{|/org/${kkmDto.orgId}|}">Назад</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>