<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список организаций</title>
    <th:block th:replace="include::head"/>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>
<th:block th:replace="include::navigation"/>
<div class="container shadow p-3">
    <h1>Организации</h1>
    <div class="row mb-3">
        <div class="col">
            <input name="orgName" type="search" placeholder="Поиск организации..."
            hx:get="@{manager/list}" hx-params="orgName" hx-trigger="keyup changed delay:0.5s" hx-target="#organizations" hx-swap="outerHTML">
        </div>
    </div>
    <div class="row">
        <div class="col"><a class="btn btn-light" th:href="@{org/new}">Создать</a></div>
    </div>
    <div id="organizations" th:fragment="organizations">
<!--         hx-trigger="onload" hx-target="this" hx-swap="innerHTML" hx:get="@{/org/list}">-->
        <div class="row" th:each="org: ${organizations}">
            <div class="col">
                <table class="table table-bordered table-hover">
                    <tr>
                        <td colspan="5">
                            <a th:href="@{|/org/${org.id}|}">
                                <label class="fw-bold" th:text="${org.name}"></label>
                            </a>
                            <a th:if="${urlMap.get(org.id) ne null}" th:href="${urlMap.get(org.id)}" target="_blank"><i
                                    class="fa fa-link"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>