<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:value="${org.name}"></title>
    <th:block th:replace="~{include::head}"/>
</head>
<body>
<div class="container shadow p-3">

    <form th:action="@{/org}" method="post" th:object="${org}">
        <input type="hidden" th:field="*{id}">
        <span class="small text-success" th:if="${saved}">Данные сохранены</span>
        <div class="row p-2">
            <div class="col-6">
                <div class="form-outline mb-3">
                    <label for="name">Название</label>
                    <input type="text" id="name" th:field="*{name}" size="50">
                </div>
            </div>
            <div class="col-2">
                <label for="imported">Импортирован</label>
                <input id="imported" type="checkbox" th:field="*{fullyImported}">
            </div>
            <span class="text-danger small" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <div class="row">
                <div class="col">
                    <div class="form-outline mb-3">
                        <label for="inn">ИНН</label>
                        <input type="text" id="inn" th:field="*{inn}" size="12">
                    </div>
                </div>
                <span class="text-danger small"
                      th:if='${errors ne null and #lists.contains(errors,"inn")}'
                      th:text="${errors.inn}"/>

                <span class="text-danger small" th:if="${#fields.hasErrors('inn')}" th:errors="*{inn}"></span>
            </div>
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-success" th:value="Сохранить">
                    <a sec:authorize="hasRole(ROLE_ADMIN)" th:href="@{/manager}" class="btn btn-warning">Назад</a>
                    <a sec:authorize="hasRole(ROLE_USER)" th:href="@{/home}" class="btn btn-warning">Назад</a>
                </div>
            </div>
            <div class="row">
                <div class="col">

                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>