<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Мой профиль</title>
    <th:block th:replace="~{include::head}"/>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>
<th:block th:replace="include::navigation"></th:block>
<div class="container shadow p-3">
    <div class="row report-form parent d-flex justify-content-center">
        <div class="col">
            <form>
                <div class="report-row">
                <label>Имя пользователя</label>
                    <input id="username" type="text" readonly th:value="*{user.username}" class="form-control">
                </div>
                <label for="password">Новый пароль</label>
                <input id="password" name="password" type="password" class="form-control"/>
                <label for="confirm_password">Повторите пароль</label>
                <input id="confirm_password" name="confirm_password" type="password" class="form-control">
                <button type="button" class="btn btn-success mt-2"
                        hx:post="@{/profile/password}"
                        hx-include="[name='password']" hx-trigger="click" hx-swap="none">Изменить пароль</button>
            </form>

            <form th:object="${user}" class="mt-3">
                <label for="first_name">Имя</label>
                <input type="text" id="first_name" name="first_name" th:value="*{firstName}" class="form-control">
                <label for="father_name">Отчество</label>
                <input id="father_name" name="father_name" type="text" th:value="*{fatherName}" class="form-control">
                <label for="last_name">Фамилия</label>
                <input id="last_name" name="last_name" type="text" th:value="*{lastName}" class="form-control">
                <label for="phone">Телефон</label>
                <input id="phone" name="phone" type="tel" th:value="*{phone}" class="form-control">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" th:value="*{email}" class="form-control">
                <button class="btn btn-success" hx-post="/profile/update" hx-swap="none">Сохранить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>