<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>
    <link rel="stylesheet" th:href="@{/css/style-500.css}">
</head>
<body>
<div id="level">
    <div id="content">
        <div id="gears">
            <div id="gears-static"></div>
            <div id="gear-system-1">
                <div id="gear15"></div>
                <div id="gear14"></div>
                <div id="gear13"></div>
            </div>
            <div id="gear-system-2">
                <div id="gear10"></div>
                <div id="gear3"></div>
            </div>
            <div id="gear-system-3">
                <div id="gear9"></div>
                <div id="gear7"></div>
            </div>
            <div id="gear-system-4">
                <div id="gear6"></div>
                <div id="gear4"></div>
            </div>
            <div id="gear-system-5">
                <div id="gear12"></div>
                <div id="gear11"></div>
                <div id="gear8"></div>
            </div>
            <div id="gear1"></div>
            <div id="gear-system-6">
                <div id="gear5"></div>
                <div id="gear2"></div>
            </div>
            <div id="chain-circle"></div>
            <div id="chain"></div>
            <div id="weight"></div>
        </div>
        <div id="title">
            <h1>Мы усердно трудимся на этим.</h1>
            <p>Когда-нибудь эта хуйня заработает.</p>
        </div>
    </div>
</div>
</body>
</html>